<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/css/icons8-dashboard-16 (1).png" type="image/x-icon">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
  <% if (userData) {  %>
    <div class="container">
      <div class="info abt">
<img class="img" src="/images/<%= userData.email %>.jpg" alt="">

        <div class='cont'>
          <a id='hamburger'> <%= userData.user %></a>
          <ul>
            <li id="phno"><%= userData.phone_no %></li>
            <li id="eid"><%= userData.email %></li>
            <li id="role">Student</li>
          </ul>
        </div>
      </div>
      <div class="info search">
        <input type="text" placeholder="search" class="s">
      </div>
      <div class="info welcome">
        <img class="i1" width="94" height="94" src="https://img.icons8.com/3d-fluency/94/graduation-cap.png" alt="graduation-cap"/>
        <img class="i0" width="94" height="94" src="https://img.icons8.com/3d-fluency/94/student-female--v5.png" alt="student-female--v5"/>
        <img class="i"  width="94" height="94" src="https://img.icons8.com/3d-fluency/94/school-backpack.png" alt="school-backpack"/>
        <p class="p" id="p">welcome back, <%= userData.user %>!</p> 
        <p class="p1">Always update your notes</p>
      </div>
      <div class="info dir"> 
        <div class="box">
          <h2>phy</h2>
         
        </div>
        <div class="box">  
          <h2>chem</h2>
        </div>
        <div class="box">
          <h2>maths</h2>
        </div>
        <div class="box " id="pl">
          <img class="pl" width="50" height="50" src="https://img.icons8.com/ios-filled/50/add--v1.png" alt="add--v1"/>
        </div>
      </div>
    </div>
  <% } else { %>
    <p>User data not available</p>
  <% } %>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/js/dashboard.js"></script>
<script src="disp.js"></script>
  <script src="app.js"></script>
  

  
  
</body>
</html>
